@import "import/globalvars.less";


body {

  font-family: @gotham-light;
  font-weight: @normal;
  font-size : 16px;
  .text h2 a, .text h3 a {
      font-family: @sentinal-black;
      font-weight: @black;
  }

  .text h4 a, .text h5 a, .text h6 a {
      font-family: @gotham-black;
      font-weight: @black;
  }

  @media (min-width: @sm-viewport-min) and (max-width: @sm-viewport-max){
    font-size : 13px;
  }

  @media (min-width: @md-viewport-min) and (max-width: @md-viewport-max){
    font-size : 14px;
  }

  p, span {
    font-family: @gotham-light;
    font-weight: @normal;
  }

  .text-wrap, .text {
      a {
      font-family: @gotham-bold;
      font-weight: @bold;
      border-bottom: dotted;
      text-decoration: none;
      display: inline;
      padding-bottom: 1px;
      border-width: 1px;
      &:hover {
        text-decoration: none;
        border-bottom: solid;
        border-width: 1px;
      }
    }
  }


  .text-wrap {
    .lsa-social-links a, .lsa-social-links a:hover {
        border: none;
    }
  }

  .button-wrap a, .theme-button {
    text-decoration: none;
  }

  h2 {
    font-family: @sentinal-black;
    font-weight: @black;
    font-size: 22px;
    line-height: 1.4em;
    a {
      text-decoration: none;
    }
  }

  h3 {
    font-family: @sentinal-black;
    font-weight: @black;
    font-size: 19px;
    line-height: 1.4em;
    a {
      text-decoration: none;
    }
  }

  h4 {
    font-family: @gotham-black;
    font-weight: @black;
    font-size: 16px;
    line-height: 1.4em;
    a {
      text-decoration: none;
    }
  }

  h5 {
    font-family: @gotham-black;
    font-weight: @black;
    font-size: 14px;
    line-height: 1.4em;
    a {
      text-decoration: none;
    }
  }

 h6 {
    font-family: @gotham-black;
    font-weight: @black;
    font-size: 12px;
    line-height: 1.4em;
    a {
      text-decoration: none;
    }
  }

  table {
    margin: 6px 0;
  }

  b {
    font-family: @gotham-black;
    font-weight: @black;
  }

  i {
    font-style: italic;
  }

  b i, i b {
    font-family: @gotham-black;
    font-style: italic;
    font-weight: @black;
  }

  div.caution-tape + #content, div.caution-tape + div.lsa_sub_content_area {
    margin-top: 15px;
  }

  .pageTitle {
      position: relative;
      margin: 0 0 6px 0;
      h1, span {
          font-family: @sentinal-black;
          font-weight: 800;
          margin-top: 0;
          display: inline-block;
          width: 90%;
          font-size: 24px;
          line-height: 30px;
            @media (min-width: 768px) {
                font-size: 26px;
                display: inline;
            }

            @media (min-width: 992px) {
                font-size: 27px;
            }

            @media (min-width: 1200px) {
                font-size: 28px;
            }
         }
      .sideNavBurger {
          float: right;
          font-size: 2em;
          position: absolute;
          right: 0;
          top: 0;
          line-height: 0;
      }
  }

  .pageTitle.titleWithNavHidden {
    margin: 20px 0 10px;
  }

  .phone-sidenav {
      display: none;
  }

  .linkcontainer{ padding-left: 15px; }

  .dmc-cyan{
    color: @dmc-cyan;
  }

  .dmc-cyan-bg{
    background-color: @dmc-cyan;
  }
  audio {
    width: 400px;
    height: 30px;
  }

  .pull-left {
    float: left;
  }

  .pull-right {
    float: right;
  }

  .caution-tape {
    // background: url(@spritesheet-image-repeated) @caution-pattern-offset-x @caution-pattern-offset-y repeat-x @dmc-cyan;
    height: 11px;

    opacity: 0.58;
    &.deptFooterHidden {
        margin: 126px 0 0 0;
    }
    &.hidebottompadding {
        margin: 0;
    }
  }
  .dark-shadow {
    text-shadow: -1px -1px 0 #111, 1px -1px 0 #111, -1px 1px 0 #111, 1px 1px 0 #111;
    h2, h3, h4, h5, h6 {
      text-shadow: 2px 2px #111;
    }
  }
  .light-shadow {
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
    h2, h3, h4, h5, h6 {
      text-shadow: 2px 2px #fff;
    }
  }
  &.lsaErrorPage {
    #lsaUnitSearchResults .popover {
      top: 0;
      max-width: 100%;
      min-width: 100%;
    }
    .phone-bar #search{
      display: none;
    }
  }

  .skipToContent {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    &:focus {
      position:static;
      width:auto;
      height:auto;
    }
  }
}

// not in body
html {
  background-color: #030a0f;
}

@media (max-width: @sm-viewport-max)  {
  #atlwdg-container {
      width: 100%;
  }

  #atlwdg-frame {
      height: 100%;
      width: 100%;
  }
}


.top-bar-wrap {
    font-size: 1em;
    font-family: @gotham-bold;
    font-weight: @bold;
    text-align: right;
    padding: 0;

    &.top-bar-dark {
        color: #cfc096;
        background-color: #2b2c2e;
        border-bottom: 1px solid #212223;
        .divider {
            color: #655a52;
        }
        a {
            color: #cfc096;
            text-decoration: none;
            &:hover {
                color: #FFFFFF;
            }
        }
    }

    &.top-bar-light {
        color: @dp-color-1;
        background-color: @dp-grey-bg-1;
        a {
            color: @dp-color-1;
            text-decoration: underline;
            text-decoration-style: dotted;
            &:hover {
                text-decoration: underline;
                text-decoration-style: solid;
            }
        }
        i {
            color: @dp-color-1;
        }
    }

    .lsa-nav {
        ul {
            list-style: none;
            margin-bottom: 0;
        }

        li {
            display: inline;
            font-size: 11px;
            margin-left: 8px;
            line-height: 24px;

            &.divider {
                font-family: @gotham-light;
                font-weight: @normal;
            }
        }

        a {
            font-size: 11px;
            line-height: 22px;
        }
    }

    button {
        outline: 0;
        background: none;
        border: none;
        padding: 6px 0 6px 1em;
    }

    i {
        margin-left: 0em;
    }

    .slider {
        overflow-y: hidden;
        max-height: 0;
        -webkit-transition: max-height 0.5s;
        -moz-transition: max-height 0.5s;
        transition: max-height 0.5s;

        .container {
            width: 80%;
            margin-left: auto;
        }

    }

    .add-margin {
        margin-bottom: 10px;
        line-height: 2em;
    }

    .header-search-form {
        width: 80%;
        margin-right: 10%;
        margin-top: 30px;
        margin-bottom: 10px;
        .form-group {
            margin: 0;
            padding-top: 11px;
        }
    }

    .header-search-text {
        border: 1px solid #333333;
        border-radius: 5px;
        padding: 3px;
        padding-left: 12px;
        width: 100%;
        font-size: 1.5em;
        line-height: 36px;
    }

    .header-search-icon {
        background-color: transparent;
        border: none;
        color: #292a2b;
        font-size: 2em;
        padding: 3px 7px 1px 7px;
        position: relative;
        top: -1.5em;
    }

    ul {
        list-style-type: none;
        padding-left: 0px;
        display: inline;
    }

    .functional-nav {
        text-align: center;
        font-size: 1em;
        font-family: @sentinal;
        font-weight: @normalSent;

        h3 {
            font-size:2em;
            margin-bottom: 8px;
            margin-top: 15px;
        }

        a {
            text-decoration: none;
            color: #FFF;
        }

        a:hover, a:active{

            text-decoration: underline;
        }

        i {
            margin-left: 0;
        }
    }

    .department-nav {
        text-align: center;
        font-size: 1em;
        font-family: @sentinal;
        font-weight: @bold;
        border-left: 2px dotted #fff;

        h3 {
            color: #FFF;
            font-weight: bold;
            font-style: italic;

            font-size:1.2em;
            font-style: italic;
        }

        a {
            text-decoration: none;
            color: #FFF;
        }

        a:hover, a:active{
            text-decoration: underline;
        }

    }

    .top-bar-nav {
       color: #cfc096;
       font-size: 1em;
       font-family: @gotham-bold;
       font-weight: @bold;
       text-align: center;
   }
}
