@import "import/globalvars.less";

.button-wrap, .button-wrap-center {

    margin: 6px 0;
      .btn {
          width: 100%;
    }

    .btn {
        background-color: #007cba;
        white-space: normal;
        font-size: 14px;
        text-align: left;
        line-height: 18px;
        font-family: @gotham-bold;
        a {
          color: #FFF;
        }
    }

    .left {
        text-align: left;
    }
    .right {
        text-align: right;
    }
    .center {
        text-align: center;
    }

}

