<div class="button-wrap ${properties.themeColor ? properties.themeColor : ''} ">
  <div class="theme-bg btn">
    <a href="${properties.link}.html">
      ${properties.text ? properties.text : "enter text"}
    </a>
  </div>
</div>