<sly data-sly-include="/libs/sling-cms/global.jsp"></sly>
<body>
  <sly data-sly-include="/libs/sling-cms/components/editor/scripts/init.jsp"></sly>
  <sly data-sly-include="topbar.html"></sly>
  <main role="main" class="container">
    <p>My HTML!</p>
    <p>${inheritedPageProperties.testInheritance}</p>
    <p>${pageProperties.testInheritance}</p>
    <p>${resource.valueMap.testInheritance}</p>
    <p>${currentPage.path}</p>

    <div data-sly-use.helloWorld="edu.umich.lsa.HelloWorldModel">
      ${helloWorld.property1 @ context="html"}
    </div>
    <sly data-sly-resource="${'container' @ resourceType='sling-cms/components/general/container'}"></sly>

  </main>

  <sly data-sly-include="/libs/sling-cms/components/editor/scripts/finalize.jsp"></sly>
</body>
