<sly data-sly-include="/libs/sling-cms/global.jsp"></sly>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>${resource.valueMap['jcr:title']} | umlsats</title>
  <link href="/static/clientlibs/umlsats/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/clientlibs/umlsats/css/base.css" rel="stylesheet">
  <link href="/static/clientlibs/umlsats/css/components.css" rel="stylesheet">
</head>
