<!--/*
TODO
data-sly-use.header="edu.umich.lsa.services.osgi.pages.Header"
data-sly-use.pageHelper="${'edu.umich.lsa.services.osgi.helpers.PageHelper'}"
*/-->

<div class="top-bar-wrap top-bar-dark">
  <div class="container">
    <div class="row">
      <div class="lsa-nav hidden-xs col-xs-12"
      data-sly-test="${!inheritedPageProperties.headerFooterSettingsPath && !inheritedPageProperties.hideLsaBranding}">
        <ul>
          <li><a href="https://umich.edu">U-M</a></li><li class="divider">//</li>
          <li><a href="https://lsa.umich.edu">LSA</a></li><li class="divider">//</li>
          <li><a href="https://lsa.umich.edu/lsa/academics/departments-and-units.html">Departments and Units</a></li><li class="divider">//</li>
          <li><a href="https://lsa.umich.edu/lsa/academics/majors-minors.html">Majors and Minors</a></li><li class="divider">//</li>
          <li><a href="https://lsa.umich.edu/lsa/support-lsa.html">Support LSA</a></li>
        </ul>
      </div>
      <div class="lsa-nav col-xs-12 ${header.isGateway ? '':'hidden-xs '}"
        data-sly-test="${inheritedPageProperties.headerFooterSettingsPath && !inheritedPageProperties.hideLsaBranding}">
        <ul data-sly-list="${pageHelper.externalTopbar}">
          <li>
            <a href="${item.valueMap.linkHref}" class="${item.valueMap.promotedLink ? 'promoted-link':''}">${item.valueMap.linkText}</a>
            </li><li class="divider" data-sly-test="${!itemList.last}">//</li>
        </ul>
        <ul data-sly-list="${pageHelper.externalItems}" data-sly-test="${!pageHelper.isLsaSite}">
          <li class="divider">//</li><li>
            <a href="${item.valueMap.linkHref}" class="${item.valueMap.promotedLink ? 'promoted-link':''}"><i class="fa fa-location-arrow"></i> ${item.valueMap.linkText}</a>
        </ul>
      </div>
      <div class="phone-bar visible-xs col-xs-12" data-sly-test="${!header.isGateway}">
        <button id="search" class="search"
          aria-label="Toggle Search"
          v-on:click="toggleSearch('xs')">
          <i class="fa fa-search fa-2x"></i>
        </button>
        <button id="hamburger"
          aria-label="Toggle Navigation"
          v-on:click="showMobileSearchBar=true"
          onclick="toggle_visibility('phone-menu');" class="">
          <i class="fa fa-bars fa-2x"></i>
        </button>
      </div>
    </div>
  </div>
</div>